.login {
    background-image: url(../../assets/images/wave1.svg),
        url(../../assets/images/wave2.svg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: 50%, 50%;
    background-position: left top, right bottom;
}